script(type='text/javascript', src='/static/lib/jquery/jquery.js')

//Bootstrap
script(type='text/javascript', src='/static/lib/bootstrap/js/bootstrap.js')

//AngularJS
script(type='text/javascript', src='/static/lib/angular/angular.js')
script(type='text/javascript', src='/static/lib/angular-cookies/angular-cookies.js')
script(type='text/javascript', src='/static/lib/angular-resource/angular-resource.js')

//Angular UI
script(type='text/javascript', src='/static/lib/angular-bootstrap/ui-bootstrap-tpls.js')
script(type='text/javascript', src='lib/angular-ui-utils/modules/route.js')

//Application Init
script(type='text/javascript', src='/static/js/app.js')
script(type='text/javascript', src='/static/js/config.js')
script(type='text/javascript', src='/static/js/directives.js')
script(type='text/javascript', src='/static/js/filters.js')

//Application Services
script(type='text/javascript', src='/static/js/services/global.js')
script(type='text/javascript', src='/static/js/services/articles.js')

//Application Controllers
script(type='text/javascript', src='/static/js/controllers/articles.js')
script(type='text/javascript', src='/static/js/controllers/index.js')
script(type='text/javascript', src='/static/js/controllers/header.js')	
script(type='text/javascript', src='/static/js/init.js')
