.footer
  .container
    hr
    .hidden-xs
      | Copyright &nbsp;
      span.glyphicon.glyphicon-copyright-mark
      | &nbsp; 2013 &nbsp;
      a(href="http://caulagi.com", target="_blank") Pradip Caulagi.
      ol.pull-right.breadcrumb
        li
          a(href="/about") About
        li
          a(href="/contact") Contact
        li
          a(href="/terms") Terms
        li
          a(href="/privacy") Privacy
     .visible-xs
      .align-right.container
        | Copyright &nbsp;
        span.glyphicon.glyphicon-copyright-mark
        | &nbsp; 2013 &nbsp;
        a(href="http://caulagi.com", target="_blank") Pradip Caulagi.
        ol.align-right.breadcrumb.vspace-one
          li
            a(href="/about") About
          li
            a(href="/contact") Contact
          li
            a(href="/terms") Terms
          li
            a(href="/privacy") Privacy
