.footer
  .container
    hr
    .hidden-xs
      span.copyright &copy;
      | 2013 &nbsp;
      a(href="http://caulagi.com", target="_blank") Pradip P Caulagi
      ol.pull-right.breadcrumb
        li
          a(href="/about") About
        li
          a(href="/contact") Contact
        li
          a(href="/terms") Terms
        li
          a(href="/privacy") Privacy
     .visible-xs
      .align-right container
        span.copyright &copy;
        | 2013 &nbsp;
        a(href="http://caulagi.com", target="_blank") Pradip P Caulagi
        ol.align-right.breadcrumb.vspace-one
          li
            a(href="/about") About
          li
            a(href="/contact") Contact
          li
            a(href="/terms") Terms
          li
            a(href="/privacy") Privacy
