<div class="container" data-ng-controller="HeaderController">
  <div class="branding">
    <a href="/" class="navbar-brand">toystori</a>
    <span class="navbar-subheading slant hidden-xs">Share your toys</span>
  </div>
  <div class="pull-right">
    <div class="dropdown">
      <a data-toggle="dropdown" href="#" class="dropdown-toggle">
        <img src="https://graph.facebook.com/100001603981516/picture" alt="Profile image">
      </a>
      <ul role="menu" class="dropdown-menu pull-right">
        <li><a href="/toys/new">Share your toy</a></li>
        <li class="divider"></li>
        <li>
          <a href="/users/52349877d0c700e80f000001" title="Profile">Profile</a>
        </li>
        <li class="divider"></li>
        <li><a href="/logout" title="logout">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
