extends ../layouts/default

block main
  .jumbotron
    .container
      h1.intro-title
        i.glyphicon.glyphicon-share
        | &nbsp;Share your toys!
      p.vspace-one
        | A website for all the lovely mothers and children -          
        | Share your toys.  Borrow interesting ones.  Make new friends.
        | And best of all...
        span.red.slant
          strong Free to use!
      p
        a.btn.btn-primary(href="/toys/new") Share your toys

  .visible-md.visible-lg.hidden-xs.hidden-sm
    .container
      -for toy in toys
        .col-md-4.col-lg-4
          .thumbnail
            img(src="#{toy.image.cdnUri}", alt="Toy image")
            .caption
              h3
                a(href="/toys/#{toy.id}")= toy.title
              p= toy.description
              p.text-success
                strong Suitable for 1-2 years, JP Nagar

block extra_js
  script.
      mixpanel.track('Landing page')
