extends ../layouts/default
include ../includes/mixins

block main
  include ../includes/marketing

  .container
    - if (toys.length)
      +renderToys(toys)
    - else
      .row.white-bg
        .vspace-two
        .align-center
          strong There are no toys near you yet.
            | Be the first to &nbsp;
            a(href="/toys/new") share
        .vspace-two

block extra_js
  script.
      mixpanel.track('Toy listing (index)')
