extends ../layouts/default

block content
  .jumbotron
    .container
      .row
        .col-md-4 
          .pull-right
            img.img-response.thumbnail(src="//graph.facebook.com/#{user.facebook.id}/picture?width=200&height=200", alt="FB profile picture")
        .col-md-offset-1.col-md-7
          h2 #{user.name}
          - if (user.facebook.location)
            p=user.facebook.location.name
          - if (user.facebook.bio)
            div=user.facebook.bio

block extra_js
  script.
    mixpanel.track('User profile page')
