extends layouts/default

block content
  .jumbotron.align-center
    h2 Oops! Something went wrong
    .text-danger.vspace-two
      | We have been notified of the error.  We are looking into it.

block extra_js
  script.
      mixpanel.track('500')
