extends layouts/default

block content
  .jumbotron
    h2 Oops! Something went wrong
    p.text-error
      | We have been notified of the error.  We are looking into it.

block extra_js
  script.
      mixpanel.track('500')
