extends layouts/default.jade

block content
  .jumbotron
    .container.align-center
      h2.vspace-two About us
      p
        a.btn.btn-link(href="https://www.facebook.com/bangalorehack2013", target="_blank") A Bangalore hack production
      dl.align-center
        dt Conceptualised and directed by
        dd
          a(href="http://twitter.com/__snp", target="_blank") Soumya N Prasad
        dt Written by
        dd
          a(href="http://twitter.com/caulagi", target="_blank") Pradip P Caulagi

block extra_js
  script.
    mixpanel.track('About page')
