extends layouts/default

block content
  .jumbotron
    .container.align-center
      h2.vspace-two Contact
      p.vspace-two caulagi AT gmail DOT com

block extra_js
  script.
    mixpanel.track('Support page')
