extends layouts/default

block content
  .jumbotron
    .container.align-center
      h2.vspace-two Contact
      .vspace-two.align-center
        | We would love to know how we are doing - info AT toystori DOT com

block extra_js
  script.
    mixpanel.track('Support page')
