extends layouts/default

block main
  .jumbotron
    .container
      h1.intro-title
        i.glyphicon.glyphicon-share
        | &nbsp;Share your toys!
      p.vspace-one
        | A website for all the lovely mothers and children -          
        | Share your toys.  Borrow interesting ones.  Make new friends.
        | And best of all...
        span.red.slant
          strong Free to use!
      p
        a.btn.btn-primary(href="/toys/new") Share your toys

  .visible-md.visible-lg.hidden-xs.hidden-sm
    .container
      col-md-4.col-lg-4
        .thumbnail
          img(src="http://images01.olx.in/ui/18/18/39/1377923469_541240939_1-Pictures-of--Channapatna-wooden-horse-for-sale.jpg", alt="Horse")
          .caption
            h3 A horse that rocks
            p The simplest way to make my daughter spend
              | some quite time, or eat her fruits.  Built to
              | last, unlink those plastic toys you have.
            p.text-success
              strong Suitable for 1-2 years, JP Nagar
      .col-md-4.col-lg-4
        .thumbnail
          img(src="http://i01.i.aliimg.com/wsphoto/v0/749350811/Tiger-violin-child-orgatron-educational-toys-violin-cartoon-music-piano-infant-electronic-piano-toy.jpg", alt="Piano")
          .caption
            h3 What Mozart used
            p A classical toy that never goes out of style.
              | The piano I has 4 built in tunes and 15 keys.
              | The tunes feature classical Mozart and Beethoven
            p.text-success
              strong Suitable for 1-2 years, Koramangala
      .col-md-4.col-lg-4
        .thumbnail
          img(src="http://p.globalsources.com/IMAGES/PDT/B1061402935/Guitar-Toy.jpg", alt="Guitar")
          .caption
            h3 What Jimi Hendrix used
            p Another toy that is a must have?!
              | The guitar has 4 built in tunes and 3 press and play
              | buttons.
            p.text-success
              strong Suitable for 1-2 years, Indiranagar
  .visible-md.visible-lg.hidden-xs.hidden-sm
    .container
      .col-md-4.col-lg-4
        .thumbnail
          img(src="http://www.tigermuseum.com/zenphoto/albums/toys/indian-toy-tiger1.jpg", alt="tiger")
          .caption
            h3 Walk with me
            p Drag it around with you and the tiger will make
              | shaking noises for you.  Encourages your infant
              | to explore the world, on her own legs.
            p.text-success
              strong Suitable for 0.6-2 years, Basavangudi
      .col-md-4.col-lg-4
        .thumbnail
          img(src="http://ep.yimg.com/ay/creativekidstuff/wonder-walker-wooden-balance-walker-and-activity-toy-2.jpg", alt="Piano")
          .caption
            h3 Walker
            p A wooden walker that provides support and encourages
             | your child to explore the world in her own feet.
            p.text-success
              strong Suitable for 1-2 years, Rajajinagar
      .col-md-4.col-lg-4
        .thumbnail
          img(src="http://images02.olx.in/ui/6/09/40/1365161937_488100940_2-Pictures-of--Infant-ScooterBicycleYour-children-deserve-this.jpg", alt="Guitar")
          .caption
            h3 For those strong legs
            p Make them spend an hour in the evening quietly.
              | Builds strong legs.  No diet required.
            p.text-success
              strong Suitable for 2-4 years, Marathalli

  .hidden-md.hidden-lg.visible-xs.visible-sm
    .container
      .col-xs-6.col-sm-6
        .thumbnail
          img(src="http://images01.olx.in/ui/18/18/39/1377923469_541240939_1-Pictures-of--Channapatna-wooden-horse-for-sale.jpg", alt="Horse")
          .caption
            h3 A horse that rocks
            p The simplest way to make my daughter spend
              | some quite time, or eat her fruits.  Built to
              | last, unlink those plastic toys you have.
            p.text-success
              strong Suitable for 1-2 years, JP Nagar
      .col-xs-6.col-sm-6
        .thumbnail
          img(src="http://i01.i.aliimg.com/wsphoto/v0/749350811/Tiger-violin-child-orgatron-educational-toys-violin-cartoon-music-piano-infant-electronic-piano-toy.jpg", alt="Piano")
          .caption
            h3 What Mozart used
            p A classical toy that never goes out of style.
              | The piano I has 4 built in tunes and 15 keys.
              | The tunes feature classical Mozart and Beethoven
            p.text-success
              strong Suitable for 1-2 years, Koramangala
  .hidden-md.hidden-lg.visible-xs.visible-sm
    .container
      .col-xs-6.col-sm-6
        .thumbnail
          img(src="http://p.globalsources.com/IMAGES/PDT/B1061402935/Guitar-Toy.jpg", alt="Guitar")
          .caption
            h3 What Jimi Hendrix used
            p Another toy that is a must have?!
              | The guitar has 4 built in tunes and 3 press and play
              | buttons.
            p.text-success
              strong Suitable for 1-2 years, Indiranagar
      .col-xs-6.col-sm-6
        .thumbnail
          img(src="http://www.tigermuseum.com/zenphoto/albums/toys/indian-toy-tiger1.jpg", alt="tiger")
          .caption
            h3 Walk with me
            p Drag it around with you and the tiger will make
              | shaking noises for you.  Encourages your infant
              | to explore the world, on her own legs.
            p.text-success
              strong Suitable for 0.6-2 years, Basavangudi
  .hidden-md.hidden-lg.visible-xs.visible-sm
    .container
      .col-xs-6.col-sm-6
        .thumbnail
          img(src="http://ep.yimg.com/ay/creativekidstuff/wonder-walker-wooden-balance-walker-and-activity-toy-2.jpg", alt="Piano")
          .caption
            h3 Walker
            p A wooden walker that provides support and encourages
             | your child to explore the world in her own feet.
            p.text-success
              strong Suitable for 1-2 years, Rajajinagar
      .col-xs-6.col-sm-6
        .thumbnail
          img(src="http://images02.olx.in/ui/6/09/40/1365161937_488100940_2-Pictures-of--Infant-ScooterBicycleYour-children-deserve-this.jpg", alt="Guitar")
          .caption
            h3 For those strong legs
            p Make them spend an hour in the evening quietly.
              | Builds strong legs.  No diet required.
            p.text-success
              strong Suitable for 2-4 years, Marathalli

block extra_js
  script.
      mixpanel.track('Landing page')
