extends layouts/default

block content
  .jumbotron
    .container.align-center
      h2.vspace-two Privacy
      .vspace-two.align-center 
        | We are serious about it.  We don't share 
        | your email or data.  Or stalk you.  Or anything of that sort.

block extra_js
  script.
    mixpanel.track('Privacy page')
