extends layouts/default

block content
  .jumbotron
    .container.align-center
      h2.vspace-two Terms of service
      ul.vspace-one.list-unstyled
        li We will try to keep the website available.
        li We will not share your email.

  p.vspace-two.align-center ... as far as possible.

block extra_js
  script.
    mixpanel.track('Terms page')
