doctype html
html(lang='en')
  include ../includes/head
  body
    include ../includes/header
    block main
    block messages
      include ../includes/messages
    block content
    include ../includes/footer
    include ../includes/foot
