!!! 5
html(lang='en')
  include ../includes/head
  body
    .navbar.navbar-inverse(data-ng-include="'/static/views/header.html'")
    block main
    include ../includes/messages
    block content
    include ../includes/footer
    include ../includes/foot
